body {
    font: 10px sans-serif;
}

svg {
    float: left;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line { background-color: aqua;
    font-size: 20px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.active {
    background-color: #55ff55;
}

.see {
    fill: steelblue;
    pointer-events: none;
}

.gemeinden {
  stroke: black;
  fill: grey;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.indikatorButton {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.indikatorButton:hover {
    background-color: #7fd682;
    color: white;
}

.indikatorButton:acitve {
    background-color: #4CAF50;
    color: white;
}

.yearButton {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.yearButton:hover {
    background-color: #53bbdd;
    color: white;
}

.yearButton:active {
    background-color: #008CBA;
    color: white;
}
