body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line { background-color: aqua;
    font-size: 20px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.label {
    background-color: #dddddd;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px 0px 0px;
}

.active {
    background-color: #55ff55;
}

.label:hover {
    background-color: white;
    color: black;
}

.label.active:hover {
    background-color: #44dd44;
}

.see {
    fill: steelblue;
    pointer-events: none;
}

.gemeinden {
  stroke: black;
  fill: grey;
}